<%- include('partials/header'); -%>
<h1>Enroll</h1>
<form id="form_submit" class="row g-3" action="/EnrollStudents" method="POST">
    <div class="row g-3">
        <div class="col">
          <input type="text" name="SFname" class="form-control" placeholder="First name" aria-label="First name">
        </div>
        <div class="col">
          <input type="text" name="SLname" class="form-control" placeholder="Last name" aria-label="Last name">
        </div>
    </div>
    <div class="row g-3">
        <div class="col">
            <input type="text" name="matricno" class="form-control" placeholder="Matric number" aria-label="Matric number">
        </div>
        <div class="col">
            <select class="form-select" name="SCoursecode" aria-label="Default select example">
                <option selected>Course Code</option>
                <option value="CPE506">CPE506</option>
                <option value="CPE502">CPE502</option>
                <option value="CPE504">CPE504</option>
            </select>
        </div>
    </div>
    <div class="row g-3">
        <div class="col">
            <select class="form-select" name="SCoursetitle" aria-label="Default select example">
                <option selected>Course Title</option>
                <option value="Artificial Intelligence">Artificial Intelligence</option>
                <option value="Introduction to Operating System">Introduction to Operating System</option>
                <option value="Embedded Systems II">Embedded Systems II</option>
            </select>
        </div>
    </div>
    <div class="row g-3">
        <div class="col-12">
            <button id="fingerprint_button" class="btn btn-primary" type="button">Add Fingerprint</button>
        </div>
    </div>
    <div class="row g-3">
        <div class="col-12">
            <button type="submit" class="btn btn-primary" id="EnrollButton">Enroll</button>
        </div>
    </div>
</form>




 <div class="modal-custom hidden">
        <div class="modal-child">
            <div class="modal-main">
                <div class="modal-image">
                    <div class="image-wrapper">
                        <img id="fingerprint" src="images/cancel.jpg" alt="fingerprint image">
                    </div>
                    <div class="controls">
                        <span class="left btn btn-primary"><</span>
                        <span class="right btn btn-primary">></span>
                    </div>
                </div>
                <div class="modal-details">
                    <div style="padding: 5px;border: 1px dashed rgba(61, 61, 61, 0.192);">
                        <p style="font-weight:bold;">Captured <span id="scan-count">0</span>/5</p>
                        <hr>
                        <button id="scan_button" style="border:1px solid gray;padding: 2px 30px;display: block;margin-left: auto;">Scan</button>
                    </div>

                    <div>

                        <p style="font-size:14px; font-style: italic;">
                            Place Right Hand Index finger on the selected Fingerprint hardware
                        </p>
                    </div>
                    <div style="flex: 1"></div>
                    <button id="save_button" style="border: none; padding: 4px 0;border-radius: 5px;align-self: flex-end;width: 100%;">Save</button>
                </div>
            </div>
        </div>
</div>
<%- include('partials/footer'); -%>
